body {
    background-color: rgb(56, 163, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.todo-wrapper {
    background-color: #fff;
    margin-top: 100px;
    padding: 25px;
    border-radius: 15px 50px 10px;
    -webkit-border-radius: 15px 50px 10px;
    -moz-border-radius: 15px 50px 10px;
    -ms-border-radius: 15px 50px 10px;
    -o-border-radius: 15px 50px 10px;
    height: auto;
    width: 600px;
}

.todo-wrapper h2 {
    margin: 0;
    font-size: 1.5rem;
}

.todo-wrapper p {
    color: rgb(77, 77, 77);
    font-style: italic;
    margin: 5px 0;
}

.todo-wrapper ol {
    margin: 20px 0;
    cursor: pointer;
}

.todo-wrapper ol li {
    margin: 5px 0;
    padding: 3px;
    transition: all 0.5 ease-out;
    -webkit-transition: all 0.5 ease-out;
    -moz-transition: all 0.5 ease-out;
    -ms-transition: all 0.5 ease-out;
    -o-transition: all 0.5 ease-out;
}

.todo-wrapper form {
    display: inline-block;
}

.todo-wrapper input {
    padding: 3px 5px;
    width: 400px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.todo-wrapper .pretty-button {
    background-color: rgb(46, 116, 221);
    margin: 10px 2px;
    padding: 5px 20px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: small;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.todo-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#control-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

#empty-button {
    background-color: red;
}

#save-button {
    background-color: rgb(56, 163, 56) ;
}
