.container-add{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin:2rem;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
}
.container-add .header-add{
    padding-bottom: 1rem;
}
.container-add .submit-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-add input{
    font-family: 'Urbanist', sans-serif;
    background: whitesmoke;
    border: 2px solid #107A92;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 1rem;
}
.container-add button{
    font-family: 'Urbanist', sans-serif;
    background: #107A92;
    border: 2px transparent;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 1rem;
    cursor: pointer;
}
.container-add button:hover{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.1rem;
    color: #B1EAE8;
    transition: all 0.1s ease-in-out;
}

.list-content{
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    height: auto;
    overflow: hidden;
}
.control-button{
    text-align: center;
    justify-content:  space-around;
    display: flex;
}
.control-button button{
    font-family: 'Urbanist', sans-serif;
    border: 2px transparent;
    border-radius: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.pretty-button{
    margin: 0.5rem;
}
#clear-completed-button{
    background-color: skyblue;
}
#empty-button{
    background-color: maroon;
}
#save-button{
    background-color: mediumseagreen;
}
.todo-wrapper ol {
    margin: 20px 0;
    padding-inline: 2rem;
}

.todo-wrapper ol li {
    margin: 8px 0;
    padding: 0.5rem; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.todo-wrapper ol li:nth-child(even) {
    background: #F0F1EE;
}

.todo-wrapper .completed {
    text-decoration: line-through;
    color: #66DDDD;
}

footer{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #66DDDD;
}
@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive { position: relative; }
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .control-button{
        text-align: center;
        flex-wrap: wrap;
    }
}
